body{
	background:white;
	font-family: 'Segoe UI';
	min-width: 900px;
}
.body{
	padding-top: 180px;
}
.header{
    width:100%;
	overflow: hidden;
	vertical-align: middle;
	min-width: 900px;
	margin-bottom: 50px;
	position: fixed;
	top: 0;
	background: #e3e3e3;
	box-shadow: 5 5 5 #e3e3e3;
}
.logoDiv{
    width:30%;
    padding-top:15px;
    float:left;
}
.logo{
	width:110px;
	margin-top:-5px;
	margin-left: 50px;
	margin-bottom: 10px;
	background: white;
	border-radius: 50%;
}
.navBar{
	text-decoration: none;
	float:right;
	width:65%;
	margin-top:3%;
	min-width: 500px;
}
.text{
    margin-top:40px;
    margin-bottom:-40px;
    color:#6398F2;
}
.navBar a, .studentinfo a{
	text-decoration: none;
	color:#222222;
	padding: 10px;
	transition-duration: 1s;
}
.navBar ul{
	text-decoration: none;
	list-style-type: none;
	font-weight: 600;
}
.navBar ul li{
	display: inline;
	margin-right:1%;
	margin-left: 3%;
}
.navbar a:hover, .navBar a:active{
	background: #525252;
	color: white;
	border-radius: 3px;
	box-shadow: 2 15 5 gray;
}
.studentinfo, .subjects{
	width:17%;
	text-align: center;
	float: left;
}
.studentinfo a{
    color: hotpink;
}
.profpic{
	width:100px;
	border-radius: 50%;
}
.subjects dt{
	margin-top: 30px;
}
.subjects dd{
	margin-top:7px;
}
.heading{
	text-align: center;
	background: #63B8FF;
	width:100%;
	padding-top: 2px;
	padding-bottom: 3px;
	font-weight: 500;
	color:white;
	box-shadow: 5 5 5 #e3e3e3;
}
.contents{
	float:right;
	width: 62%;
}
iframe {
	width: 100%;
	overflow: visible;
	border: 0;
}